$browser-context: 16; // Default
$brand-font: Flatform;
$mainfont: 'Open Sans';
$maincolor: #4d4d4d;
$base-font-size: 16px;

/**
 * Strips the unit from a given number-unit-combination and returns the number.
 * @link: http://stackoverflow.com/a/12335841/1779999
 * @usage: parse-int(10px) => 10
 */

@function parse-int($number) {
    @return $number / ($number * 0 + 1);
}


/**
 * Simply adds the em unit to a given number. This is used twice in the 
 * function underneath, thus the need for a separate function.
 */

@function add-em-unit($number) {
    @return $number * 1em;
}


/**
 * Calculates em values for a given list of (px or em) values and a given em 
 * base. Multiply base values for nested em structures (last @usage example).
 * @usage: em(10px, 1.125) => .55556em
 *         em(24px, .875em) => 1.71429em
 *         em(12px 0 7em rgba(0, 0, 0, .7), 1.75) => .42857em 0 4em rgba(0, 0, 0, 0.7)
 *         em(12px) + em(3em) => 3.75em
 *         em(23px, em(53px)) => .43396em
 *         em(24px, 1.5 * 1.125) => .88889em
 */

@function em($values, $em-base: 1) {
    $base-font-size: parse-int($base-font-size);
    $em-base: parse-int($em-base);
    $result: ();
    @each $value in $values {
        @if $value==0 or type-of($value) !="number" {
            $result: append($result, $value);
        }
        @else {
            $unit: unit($value);
            $value: parse-int($value);
            @if $unit=="px" {
                $result: append($result, add-em-unit($value / ($base-font-size * $em-base)));
            }
            @else if $unit=="em" {
                $result: append($result, add-em-unit($value / $em-base));
            }
        }
    }
    /**
   * If only one value is provided, output the instance of that object instead 
   * of the whole list. This enables use cases like nested function invocations 
   * (e.g. `em(2px, em(15px))`) or additions/subtractions (e.g. `em(5px) + em(32px)`).
   */
    @if length($result)==1 {
        @return nth($result, 1);
    }
    @else {
        @return $result;
    }
}

.table {
    display: table;
    .table-row {
        display: table-row;
        .table-cell {
            display: table-cell;
        }
    }
}

h2 {
    font-family: $mainfont;
    font-size: em(30px);
    font-weight: 700;
    color: $maincolor;
    text-transform: uppercase;
}

.navbar-default {
    background-color: white;
}

.navbar {
    background-color: white !important;
    border: none;
    .navbar-btn {
        margin-top: 45px;
        &:hover, &:focus {
            background-color: $maincolor;
            
        }
        &:hover .icon-bar, &:focus .icon-bar {
            background-color: white;
        }
    }
    .navbar-brand {
        line-height: 130px;
        height: 130px;
        padding-top: 0;
        font-size: em(40px);
        font-family: $brand-font;
        font-weight: 300;
        color: $maincolor;
    }
    .navbar-nav {
        li {
            a {
                line-height: 130px;
                height: 130px;
                padding-top: 0;
                font-family: $mainfont;
                font-size: 16;
                font-weight: 400;
                color: $maincolor;
                &:hover, &:focus {
                    background-color: white;
                    text-decoration: underline;
                    color: $maincolor !important;
                }
            }
        }
    }
}

header {
    background-image: url(../img/Layer-11.png);
    background-size: 1920px auto;
    background-repeat: no-repeat;
    height: 652px;
    padding-top: 227px;
    text-align: center;
    h1 {
        font-family: Satellite;
        font-size: em(50px);
        font-weight: 400;
        color: $maincolor;
        text-align: center;
    }
    p {
        font-family: $mainfont;
        font-size: em(16px);
        font-weight: 400;
        color: $maincolor;
        text-align: center;
    }
    a {
        font-family: $mainfont;
        font-size: em(18px);
        font-weight: 600;
        display: inline-block;
        height: 49px;
        width: 290px;
        border-radius: 25px;
        background-color: $maincolor;
        text-align: center;
        padding-top: 15px;
        color: white;
    }
}

.item-s1 {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    img {
        display: inline-block;
    }
    h3 {
        font-family: $mainfont;
        font-size: em(22px);
        font-weight: 700;
    }
    p {
        font-family: $mainfont;
        font-size: em(14px);
        font-weight: 400;
    }
}

.section-2 {
    text-align: center;
    padding-bottom: 35px;
    p {
        display: inline-block;
        max-width: 564px;
        font-family: $mainfont;
        line-height: 22px;
        font-size: em(16px);
        font-weight: 400;
    }
    .video {
        margin: 60px 0 0 0;
        display: inline-block;
        background: url(../img/layer-12.png);
        background-repeat: round;
        width: 100%;
        height: 383px;
        transition-duration: 0.5s;
        &:hover {
            background-color: black;
        }
    }
    .table {
        height: 100%;
        width: 100%;
        .table-cell {
            vertical-align: middle;
        }
        i {
            font-size: 90px;
            color: #ffffff
        }
    }
}
.section-3 {
    padding-top: 35px;
    padding-bottom: 75px;
    text-align: center;
}
.brand-item {
    margin-top: 70px; 
    padding: 100px 0 0 0;
    height: 320px;
    background:#f7f7f7;
    overflow:hidden;
    color: #d2d1d1;
    h3 {
        font: italic 700 em(25px) $mainfont;
        margin-bottom: 0;
    }
    p {
        font: 300 em(10px) $mainfont;
        letter-spacing: 2px;
    }
    
    .hidden-element {
        position: absolute;
        bottom: 0;
        left: 15px;
        height: 0;
        color:white;
        background-color: rgba(59, 59, 59, 0.85);
        
    }
}
.brand-item-hover {
    display: inline-block;
    margin-top: 18px;
    font-family: $mainfont;
    font-size: em(16px);
    font-weight: 600;
    
}



/* Extra small devices (phones, less than 768px) */

@media (max-width: 768px) {}


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

.section-4 {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    background-color: #f5f5f5;
    h2 {
        letter-spacing: 4px;
    }
    p {
        color: #717171;
        font-family: $mainfont;
        font-size: em(16px);
    }
}

.subsrb-btn {
    display: inline-block;
    border: 2px solid $maincolor;
    border-radius: 25px;
    height: 50px;
    width: 308px;
    padding-top: 12px;
    margin-top: 70px;
    span { 
        color: $maincolor;
        font-family: $mainfont;
        font-size: em(18px);
        font-weight: 900;
    }
}

.section-5 {
    padding: 75px 0;
    a {        
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 70px;
        width: 70px;
        border: 2px solid $maincolor;
        color: $maincolor;
        background-color: rgba(221, 221, 221, 0);
        transition-duration: 0.5s;
        i {
            font-size: em(30px);
        }
        &.facebook:hover {
            text-decoration: none;
            color: white;
            background-color: #3B5998;
        }
        &.twitter:hover {
            text-decoration: none;
            color: white;
            background-color: #4099ff;
        }
        &.dribbble:hover {
            text-decoration: none;
            color: white;
            background-color: #c73b6f;
        }
        &.google:hover {
            text-decoration: none;
            color: white;
            background-color: #dd4b39;
        }
    }
    
}

.body-footer {
    padding: 35px 0;
    background-color: $maincolor;
    
    h4 {
        color: #ffffff;
        line-height: em(45px);
    }
    ul {
        padding: 0;
    }
    li {
        text-decoration: none;
        list-style: none;
        margin-bottom: em(20px);
        color: #ebebeb;
        a{
            color: #ebebeb;
            font-family: $mainfont;
            font-size: em(16px);
            font-weight: 400;
            
        }
    }
    .location{
    h5 {
        color: #ebebeb;
    }
    a {
        color: #b5b5b5;
        text-decoration: underline;
    }
    i {
        color: #b5b5b5;
    }
    }
}


