@import "main";
.navbar-default {
    background-color: white;
}

.navbar {
    background-color: white !important;
    border: none;
    .navbar-btn {
        margin-top: 45px;
        &:hover,
        &:focus {
            background-color: $maincolor;
        }
        &:hover .icon-bar,
        &:focus .icon-bar {
            background-color: white;
        }
    }
    .navbar-brand {
        line-height: 130px;
        height: 130px;
        padding-top: 0;
        font-size: em(40px);
        font-family: $brand-font;
        font-weight: 300;
        color: $maincolor;
    }
    .navbar-nav {
        li {
            a {
                line-height: 130px;
                height: 130px;
                padding-top: 0;
                font-family: $mainfont;
                font-size: em(16px);
                font-weight: 400;
                color: $maincolor;
                &:hover,
                &:focus {
                    background-color: white;
                    text-decoration: underline;
                    color: $maincolor !important;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        .navbar-nav {
            li {
                a {
                    line-height: 60px;
                    height: 60px;
                }
            }
        }
    }
}

header {
    background-image: url(../img/Layer-11.png);
    background-size: 1920px auto;
    background-repeat: no-repeat;
    height: 652px;
    padding-top: 227px;
    text-align: center;
    h1 {
        font-family: Satellite;
        font-size: em(50px);
        font-weight: 400;
        color: $maincolor;
        text-align: center;
    }
    p {
        font-family: $mainfont;
        font-size: em(16px);
        font-weight: 400;
        color: $maincolor;
        text-align: center;
    }
    a {
        font-family: $mainfont;
        font-size: em(18px);
        font-weight: 600;
        display: inline-block;
        height: 49px;
        width: 290px;
        border-radius: 25px;
        background-color: $maincolor;
        text-align: center;
        padding-top: 15px;
        color: white;
        transition-duration: 0.2s;
        &:hover, &:focus {
            text-decoration: none;
            color: $maincolor;
            background-color: white;
        }
    }
}

.item-s1 {
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
    img {
        display: inline-block;
    }
    h3 {
        font-family: $mainfont;
        font-size: em(22px);
        font-weight: 700;
    }
    p {
        font-family: $mainfont;
        font-size: em(14px);
        font-weight: 400;
    }
}
